body {
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 100%;
}

header {
    grid-column: 1 / -1;
    text-align: center;
    padding: 10px;
}

header {
    border-bottom: 2px solid var(--accent);
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
}

section {
    padding: 20px;
}

#main-content {
    border-left: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
}

#left-sidebar {
    text-align: right;
}